How this works: See how few steps it takes you to connect two actors
<ol>
  <li>Pick a starting actor<br>
    <%= image_tag 'step-1.png' %>
  </li>
  <li>Pick an ending actor<br>
    <%= image_tag 'step-2.png' %></li>
  <li>Choose one of the starting actor's movies<br>
    <%= image_tag 'step-3.png' %></li>
  <li>Choose a costar in that movie<br>
    <%= image_tag 'step-4.png' %></li>
  <li>Click Select Actor to add actor to the list<br>
    <%= image_tag 'step-5.png' %></li>
  <li>Repeat until you've reached your ending actor<br>
    <%= image_tag 'step-6.png' %></li>
</ol>