<div class='core'>
  <div id='error'></div>
  <%= form_tag 'games/find_actor', :id => 'starting_actor'  do %>
    <input type='text' name='search' placeholder ='Starting Actor'>
    <input type='submit' value='Find Actor'>
  <% end %>

  <div id='starting_actors_box'></div>

  <div class="starting_actor">
    <%= image_tag 'no-profile.jpg' %>
    Starting Actor
  </div>

  <%= select_tag :film_dropdown %>
  With
  <%= select_tag :cast_dropdown %>
  <button id='select_actor'>Select Actor</button>
  <button id='remove_actor'>Remove Actor</button>

  <div class="ending_actor portrait">
    <%= image_tag "http://d3gtl9l2a4fn1j.cloudfront.net/t/p/original/#{@end_actor.profile_path}", size:"92x138" %>
    Ending Actor
  </div>
</div>

<div class='current'>
  <div id='current_movie'></div>
  <div id='current_actor'></div>
</div>
<div class='clearfix'></div>