<h1>Connecting <%= @game.actor_start %> to <%= @game.actor_end %> in <%= @game.steps %> <%= @stepword %>
</h1>

<div class='actor_string'>
  <div class='starter point'>
    Beginning Actor
    <%= render partial: 'actors/profile', locals: {actor: @game.actor_start} %>
  </div>

  <div class='sequence'>
    <% @guesses.each do |guess| %>
      <%= render partial: 'guesses/connection', locals: {guess: guess} %>
    <% end %>
  </div>

  <div class='ender point'>
    Ending Actor
    <%= render partial: 'actors/profile', locals: {actor: @game.actor_end} %>
  </div>
</div>